.st-content-item {
    margin-bottom: 16px;
}

.st-content-edit-area {
    width: 500px;
    height: 300px;

    color: #f66;
    background-color: #686868;
}

.st-content-edit-area hr {
    border: 2px dashed #eee;
}

/*
 * Image Modal Styles
 */

.st-images-modal .img-container {
    margin-right: 5%;
    width: 25%;
}

.st-images-modal .img-container img {
    border: 4px solid #888;
}

.st-images-modal .media-object {
    clear: both;

    margin-bottom: 16px;
}

.st-image-upload {
    text-align: left;
}

.st-images-modal-fclose {
    margin-left: 8px;
}
