#container-bikes {
    position: relative;
}

#container-bikes img {
    width: 100%;
}

#container-bikes .st-floating {
    top: 5%;
    left: 5%;
    padding: 2%;
    max-width: 60%;
    max-height: 86%;

    overflow: auto;
}

@media (max-width: 979px) {
    #container-bikes .st-floating {
        max-width: 86%;
    }
}

#container-bikes .st-floating a {
    color: #ddd;
}

#container-bikes .st-floating a:hover {
    color: #fff;
}

#container-bikes .media .st-imagelink {
    width: 15%;
    min-width: 32px;
    margin-top: 2%;
}
