.st-red {
    color: #D44;
}

.st-grey {
    color: #444;
    background-color: #eee;
}

.st-rounded {
    border-radius: 8px;
}

/* .st-borders {
    border: 8px solid;
}

.st-borders-red {
    border-color: #D44;
}

.st-borders-grey {
    border-color: #444;
}
*/

#st-left-column .st-grey {
    padding: 8px;
}

#big-carousel img {
    width: 100%;
}

#st-footer {
    padding: 8px 32px;
}

@media (max-width: 750px) {
    .hidden-750 {
        display:none !important;
    }
}

