body {
    background-image: url('/images/background.jpg');
    background-repeat: repeat-x;
}


.st-red {
    color: #D44;
}

.st-grey {
    color: #444;
    background-color: #eee;
}

.st-rounded {
    border-radius: 8px;
}

/* .st-borders {
    border: 8px solid;
}

.st-borders-red {
    border-color: #D44;
}

.st-borders-grey {
    border-color: #444;
}
*/

.st-floating {
    position: absolute;

    color: #f66;
    background-color: rgba(68, 68, 68, 0.9);
}

.st-floating h1,
.st-floating h2,
.st-floating h3,
.st-floating h2,
.st-floating h5,
.st-floating h6 {
    color: #fff;
}

#st-logo a,
#st-logo a img
{
    width: 100%;
}

#st-left-column .st-grey {
    padding: 8px;
}

#big-carousel img {
    width: 100%;
}

.st-page-container {
    overflow: auto;
}

.st-footer a {
    margin-right: 1%;
}

.st-embedded-container {
    text-align: center;
}

.st-embedded {
    display: inline-block;
    margin: 16px;
    padding: 16px;

    background-color: #444;
}

@media (max-width: 979px) {
    .hidden-750 {
        display:none !important;
    }
}

@media (max-width: 767px) {
    .stack-small {
        float: none !important;
    }
}

@media (min-width: 980px) {
    .pull-right-big {
        float: right !important;
    }
}

